<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings>
		<!-- Example connection to a SQL Server Database on localhost. -->
		<!-- <add name="ExampleConnectionString"
			connectionString="Data Source=.;Initial Catalog=DBName;Integrated Security=True"
			providerName="System.Data.SqlClient" /> 

<add key="username" value="m.rajamohan@gmail.com">
		</add>
		<add key="password" value="your password" />
		<add key="file_path" value="" />
		<add key="mail_to" value="your.email@gmail.com" />
		<add key="subject" value="[b] bills/informations/screenshots/payment information #SGM#" />
		<add key="body" value="PFA, system generated email, do not reply back." />
		<add key="smtp_client" value="smtp.gmail.com" />
		<add key="smtp_port" value="587" />
-->
	</connectionStrings>
	<appSettings>
		<!-- access these values via the property:
			System.Configuration.ConfigurationManager.AppSettings[key]
p
		-->
		<add key="username" value="yourEmail@gmail.com">
		</add>
		<add key="password" value="your.password" />
		<add key="file_path" value="" />
		<add key="mail_to" value="m.rajamohan@gmail.com" />
		<add key="subject" value="[b] bills/informations/screenshots/payment information #SGM#" />
		<add key="body" value="PFA, system generated email, do not reply back." />
		<add key="smtp_client" value="smtp.gmail.com" />
		<add key="smtp_port" value="587" />
	</appSettings>
</configuration>
